<div class='container'>
        <button class="icon" mat-icon-button (click)= "openDialog(null)" color="primary" matTooltip = "Adicionar veículo">
        <mat-icon class="button">add_circle</mat-icon>
      </button>
  
  <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let veiculo"> {{veiculo.id}} </td>
    </ng-container>

    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef> Placa </th>
      <td mat-cell *matCellDef="let veiculo"> {{veiculo.placa}} </td>
    </ng-container>

    <ng-container matColumnDef="chassi">
      <th mat-header-cell *matHeaderCellDef> Chassi </th>
      <td mat-cell *matCellDef="let veiculo"> {{veiculo.chassi}} </td>
    </ng-container>

    <ng-container matColumnDef="renavam">
      <th mat-header-cell *matHeaderCellDef> Renavam </th>
      <td mat-cell *matCellDef="let veiculo"> {{veiculo.renavam}} </td>
    </ng-container>

    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef> Modelo </th>
      <td mat-cell *matCellDef="let veiculo"> {{veiculo.modelo}} </td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let veiculo"> {{veiculo.marca}} </td>
    </ng-container>
    
    <ng-container matColumnDef="ano">
      <th mat-header-cell *matHeaderCellDef> Ano </th>
      <td mat-cell *matCellDef="let veiculo"> {{veiculo.ano}} </td>
    </ng-container>

    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let veiculo"> 
        <button mat-icon-button (click)="editarVeiculo(veiculo)" color="primary" matTooltip = "Editar veículo" >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)= "deletarVeiculo(veiculo.id)" color="primary" matTooltip = "Excluir veículo">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table></div>
